/***********star-text-slider********/
article > div {
	text-align: center;
}
.wmuSlider {
	position: relative;
	overflow: hidden;
	min-height:200px;
	max-height: 300px;
	text-align: center;
	overflow:hidden;
	color:#fff;
}
.wmuSlider p{
	color:#444444;
}

.wmuSlider .wmuSliderWrapper article {
	position: relative;
	text-align: center;
}
.wmuGallery .wmuGalleryImage {
	position: relative;
	text-align: center;
}
.wmuGallery .wmuGalleryImage img {
	max-width: 100%;
	width: auto;
	height: auto;
}
/* Default Skin */
.wmuGallery .wmuGalleryImage {
	margin-bottom: 10px;
}
.wmuSliderPrev {
	background-position: 19px 9px;
	left: 40px;
}
.wmuSliderPrev, .wmuSliderNext {			
	position: absolute;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	top:47%;
	z-index: 1000;
	cursor: pointer;
}
.wmuSliderPrev {
	background: url(../images/prev.png) no-repeat;
	left: 20px;
}
.wmuSliderNext {
	background: url(../images/next.png) no-repeat;
	right: 20px;

}
article  h4{
	color:#585C67;
	text-align:center;
	padding:3em 0 0 0;
	font-weight:800;
}
article > div > p {
	width:64%;
	color:#585C67;
	font-size:1.2em;
	text-align: center;
	padding: 2em 0 0 0;
	font-family : 'Open Sans', sans-serif;
	margin:0 auto;
}
article> div > span{
	text-align: center;
	padding: 1em 0 0 0;
	display:block;
}
 article> div > span > a {
	color:#585C67;
	cursor: pointer;
	font-size:1.2em;
}
article> div > span > a:hover{
color:#C0B9CD;
}
.u-slider-caption {
	position:absolute;
	width:80%;
	bottom:5%;
	right:1%;
	z-index: 888;	
	color:#fff;
}